<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="{{ data.name }}">
    <title>{{ data.name }}</title>
    <link rel="stylesheet" href="style_resume_template.css" type="text/css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;500;600;700;800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet"
    >
</head>

<body>
<article class="">
    <div class="flow">
        <h1>{{ data.name }}</h1>
        <div class="contact flex">
            <span>{{ data.contact.email }}</span>
            <span> · </span>
            <span>{{ data.contact.phone }}</span>
            <span> · </span>
            <span>{{ data.contact.address }}</span>
            <span> · </span>
            <span>{{ data.contact.website }}</span>
        </div>
        <hr>
        <p class="hero-summary">{{ data.summary }}</p>
    </div>
    <div>
        <h2>Work Experience</h2>
        <div class="flow">
            {% for exp in data.experience %}
            <div>
                <div class="experience-item flex">
                    <h3>{{ exp.company }}<span> · </span>{{ exp.title }}</h3>
                    <span>{{ exp.dates }}</span>
                </div>
                <ul>
                    {% for resp in exp.responsibilities %}
                    <li>{{ resp }}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h2>Projects</h2>
        <div class="flow">
            {% for proj in data.projects %}
            <div>
                <h3><a href="{{ proj.url }}">{{ proj.name }}</a></h3>
                <p>{{ proj.description }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
    <div>
        <h2>Misc</h2>
        <div class="">
            <div class="flex">
                <h3 class="skill-category">Languages</h3>
                {% for skill in data.skills %}
                {% for skill_lang in skill.languages %}
                <span>{{ skill_lang }}&nbsp;·&nbsp;</span>
                {% endfor %}
                {% endfor %}
            </div>
            <div class="flex">
                <h3 class="skill-category">Traits</h3>
                {% for skill in data.skills %}
                {% for skill_trait in skill.traits %}
                <span>{{ skill_trait }}&nbsp;·&nbsp;</span>
                {% endfor %}
                {% endfor %}
            </div>
            <div class="flex">
                <h3 class="skill-category">Talents</h3>
                {% for skill in data.skills %}
                    {% for skill_talent in skill.talents %}
                    <span>{{ skill_talent }}&nbsp;·&nbsp;</span>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div>
        <h2>Education</h2>
        <div class="flow">
            {% for edu in data.education %}
            <div class="experience-item flex">
                <h3 class="flex">
                    {{ edu.institution }}
                    <span>&nbsp;·&nbsp;</span>
                    {{ edu.degree }} in {{ edu.major }}
                </h3>
                <span>{{ edu.dates }}</span>
            </div>
            {% endfor %}
        </div>
    </div>
</article>
</body>

</html>