<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    >
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="title" content="{{ data.name }}">
    <title>{{ data.name }}</title>
    <link rel="stylesheet" href="style_resume_template.css" type="text/css">
</head>

<body>
<article class="flow">
    <h1>{{ data.name }}</h1>
    <span>{{ data.contact.email }}</span>
    &nbsp;
    <span>{{ data.contact.phone }}</span>
    <hr>
    <p>{{ data.summary }}</p>

    <h2>Education</h2>
    <ul>
        {% for edu in data.education %}
        <li>{{ edu.degree }} in {{ edu.major }},
            {{ edu.institution }} ({{ edu.dates }})
        </li>
        {% endfor %}
    </ul>

    <h2>Experience</h2>
    <ul>
        {% for exp in data.experience %}
        <li>
            <strong>{{ exp.title }}</strong> at {{ exp.company }}, {{ exp.dates
            }}
            <ul>
                {% for resp in exp.responsibilities %}
                <li>{{ resp }}</li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</article>
</body>

</html>