/* ===----------------------------------------------=== */

:root {
  --border-color: hsl(210, 7%, 91%);
  --bg-secondary: hsl(225, 6%, 14%);

  --text-primary: hsl(0deg 0% 25.1%);
  --text-secondary: hsl(193.33deg 5.39% 32.75%);
  --text-tertiary: hsl(200 5% 65%);
  --text-neutral-900: hsl(0deg 0% 0%);

  --bg-primary: hsl(190.91deg 33.33% 97.02%);
  --bg-tertiary: hsl(210deg 4.76% 91%);

  --link-primary: hsl(217.32deg 89.13% 18.04%);
  --link-visited: hsl(214.08deg 81.75% 49.41%);

  --bg-section-full: hsl(0deg 0% 89.41%);

  --hr-color: hsl(160deg 2.16% 82.75%);
  --accent: hsl(20, 5.36%, 50%);
  --border-accent: hsl(15, 5.88%, 73.33%);
  --dim: hsl(0, 0%, 18.90%);

  --font-serif: 'Merriweather', 'Georgia', 'Athelas', 'Avenir', 'Bell MT', 'Book Antiqua', 'Californian FB', 'Calisto MT', 'Century Schoolbook', 'Garamond', 'Goudy Old Style', 'Hoefler Text', 'Iowan Old Style', 'Palatino', 'High Tower Text', 'Liberation Serif', 'Noto Serif', serif;
  --font-sans-serif: 'Source Sans Pro', 'Helvetica Neue', 'Helvetica', 'Franklin Gothic Book', 'Gill Sans', 'Gill Sans MT','Optima', 'Seravek', 'Sitka', 'Calibri', 'Futura', 'Perpetua', 'Segoe UI', 'Tw Cen MT', sans-serif;
  --font-monospace: 'Fira Code', 'Fira Code VF', ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  --font-sans-serif-heading: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Futura', 'Perpetua', 'Segoe UI', 'Tw Cen MT', sans-serif;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  line-height: 1.45;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  font-family: var(--font-sans-serif);
  font-feature-settings: "kern";
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variation-settings: normal;
  scroll-behavior: smooth;
}

body {
  max-width: 650px;
  max-width: max(66ch, calc(min(650px, 72ch)));
  margin: 0 auto;
  /* padding: 0 10px; */
  font-size: 16px;
  font-weight: 400;
  font-family: var(--font-sans-serif);
  letter-spacing: normal;
  color: var(--text-primary);
  background-color: var(--bg-primary);
  /* box-shadow: 0 1px 1px 1px #00000011; */
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  font-family: var(--font-sans-serif-heading);
  font-family: 'Montserrat', sans-serif;
}

h1 {
  line-height: 1;
}
h2,
h3 {
  line-height: 1.2;
  text-transform: uppercase;
}

[hidden] { display: none; }

html {
  height: 100%;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11"
}

body {
  min-height: 100%
}

article {
  padding: 1rem 1rem;
  width: 100%;
}

section {
  padding-block-end: 2em;
}

h1 {
  color: var(--text-primary);
  /* color: var(--text-neutral-900); */
  font-size: 3rem;
  font-weight: lighter;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
  font-weight: 400;
  margin-block-end: 0.15em;
}

h3 {
  color: var(--text-primary);
  font-size: 85%;
  font-weight: 600;
}

h3 a {
  text-decoration: none;
}

h4 { 
  font-weight: lighter;
  font-size: 0.875rem; 
}

p {
  /*  hyphens: auto;*/
  margin: 0;
  padding: 0;
}

p {
  max-width: 68ch;
  max-width: 72ch;
}

a {
  color: inherit;
  text-underline-offset: 0.15em;
  transition-property: background;
  -webkit-tap-highlight-color: hsl(0deg 0% 100% / 10%);
  transition-duration: 0.2s;
  /*  text-decoration: none;*/
}

menu,
ol,
ul {
  padding-inline: 2rem;
}


input::placeholder, textarea::placeholder { opacity: 1; color: #9ca3af; }

[role=button], button { cursor: pointer; }

:disabled { cursor: default; }

a:is(:link, :visited, :hover, :target, :focus, :focus-within, .focus-visible).disabled, a.disabled, .disabled a {
  color: var(--dim);
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
  user-select: none;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle
}

img,
video {
  max-width: 100%;
  height: auto;
}

ul li {
  /*
  list-style-type: "Î»ð‘¥. ";
  */
}

li {
    margin-block-end: .1em;
    padding-inline-start: 1ch;
}

ul li::marker {
    font-size: .7rem;
    color: var(--text-tertiary);
}

.font-mono {
  font-variant-ligatures: none;
  font-family: var(--font-monospace);
  font-size: 1em
}

.flex {
  display: flex
}

/* !`--flow-spacer` is an anonymous scoped variable.
   Declare it wherever `.flow` is used. */
   :where(.flow)>*+* {
    --_fallback: 1em;
    --_fallback: .5em;
    margin-top: var(--flow-spacer, var(--_fallback));
    margin-block-start: var(--flow-spacer, var(--_fallback));
  }

/* -------------------------------------------------------------------------- */

body {
  margin: 0;
  padding: 0;
  display: flex;
  margin-inline: auto;
  max-width: 800px;
  max-width: 750px;
  margin: 0px auto;
  padding: 0 20px;
  background-color: #fff;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  min-height: 100vh;
  overflow-x: hidden;
}

article {
    display: flex;
    flex-direction: column;
    gap: .85em;
}

span {
  color: #555;
}

hr {
  border: 0.5px solid #ddd;
}

p {
  line-height: 1.6;
  line-height: 1.45;
}

/*
ul {
    list-style: none;
    padding: 0;
}
*/

/*
li {
    margin-bottom: 10px;
}
*/

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex strong {
  margin-right: 10px;
}

/* Add more specific styling as needed */


.hero-summary {
  margin-block-start: .5em;
}

.contact {
  gap: .5em;
  margin-inline: auto;
  width: 100%;
  place-content: center;
  font-size: 90%;
}

.experience-item {
  justify-content: space-between;
}

.experience-item.flex h3 {
  line-height: normal;
}

.skill-category {
  line-height: 1.45;
  font-size: 80%;
  font-weight: 600;
  margin-inline-end: 2ch;
  min-width: 10ch;
}

li, p, span {
 font-size: .85rem;
}

